<form action="/computers" method="post">
  Brand: <input type="text" name="brand" placeholder="Ex: eMachine" autofocus="autofocus"><br>
  Color: <input type="text" name="color" placeholder="Ex: Grey"><br>
  Size: <input type="text" name="size" placeholder="Ex: 17"><br>
  RAM: <input type="text" name="ram" placeholder="Ex: 2"><br>
      <input type="submit" value="Add Computer" id="button">
</form>